<!DOCTYPE html>
<html>
<head>
	<title>Jatin Katyal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/ >
	<link rel="stylesheet" type="text/css" href="/css/custom.css"/ >
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 text-center">
				<h1 class="display-1" style="padding-top: 20%">ResumeVille</h1>
				<h5 style="padding-bottom: 20%">Create - Share - Showcase</h5>
			</div>
		</div>
		<div class="row block-2">
			<div class="col-md-8">
				<h2 class="display-3">Background</h2>
				<p>I started this as my personnel website, with that i came to thought of making my resume online. A resume as webpage sounds boring, so i tinkered with some CSS and Bootsstrap. I found the result satisfactory and decided to showcase it, but then i remembered this friend of mine who once asked me to do something simillar for him, so why not make it public, a place for everyone. With all that i changed Project JK to ResumeVile, and before another thought came, i made it live.</p>
			</div>
			<div class="col-md-4"> </div>
		</div>
		<div class="row block-1">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<h2 class="display-3 text-right">About</h2>
				<p>ResumeVile is a place for resume, find it tiring to keep your resume updated and attractive at same time? Here at ResumeVille, you can keep your resume updated haslefree by just filling a small form. It is easy to use, now you don't need a degree in computer science or to pay in some difficult course to get your profile online, just fill a simple form, copy and share link. In 3 steps you can brag about your cool project or that inernship you did at someone's dream company. This is just a pilot, a lot of development is still to be done.</p>
			</div>
		</div>
		<div class="row text-center block-2">
			<div class="col-sm-6">
				<a href="/users" style="padding: 5%"><h3>See who is on ResumVille</h3></a>
			</div>
			<div class="col-sm-6">
				<a href="/users/add-user" style="padding: 5%"><h3>Get your own resume on ResumeVille</h3></a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</body>
