<!DOCTYPE html>
<html>
<head>
	<title>Jatin Katyal</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/ >
</head>
<body>
	<h1>Jatin Katyal</h1>
	<a href="/Projects">Projects</a>
	<a href="/Skills">Skills</a>
	
	<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</body>
</html>