<html>
	<head>
		<title>Users - Resumeville</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/ >
		<link rel="stylesheet" type="text/css" href="/css/custom.css"/ >
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="display-1">ResumeVille</h1>
				</div>
			</div>
		</div>
		<ul>
			<% for(i in users){ %>
			<li>
				<a href="/users/<%=users[i]._id %>">
					<%=users[i].name.first %>
				</a>
			</li>
			<% } %>
		</ul>
		<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>